<h4 style="color:purple">
    <b>UserName:</b>    @ViewBag.UserName <br />
    <b>FirstName:</b>  @ViewBag.FirstName <br />
    <b>LastName:</b>  @ViewBag.LastName <br />
	<b>Email:</b> @ViewBag.Email <br />
</h4>
<hr />
<h3><b>Coffee Shop</b></h3>

<form action="form1" method="post">
    <table>
        <tr>
            <td>Enter UserName: </td>
            <td><input type="text" name="txtname" /></td>
        </tr>
        <tr>
            <td>Enter FirstName: </td>
            <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
            <td>Enter LastName: </td>
            <td><input type="text" name="txtName" /></td>
        </tr>
        <tr>
            <td>Addon: </td>
            <td><input type="checkbox" name="chkAddon" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
</form>